/* contenedor */
div#contenedor{
	width: 1300px;
	height: 1687px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	display: block;
	flex-wrap: wrap;

}

/* div encabezado */
div#menu{
	height: 180px;
	width: 1300px;
	display: flex;
	flex-wrap: wrap;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 33%, rgba(5,3,0,1) 67%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(0,0,0,1)), color-stop(67%, rgba(5,3,0,1)), color-stop(97%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 33%, rgba(5,3,0,1) 67%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 33%, rgba(5,3,0,1) 67%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 33%, rgba(5,3,0,1) 67%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 33%, rgba(5,3,0,1) 67%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

}

div#logo{
	margin-left: 30px;
	height: 100px;
	width: 100px;
	margin-top: 10px;

}

img#logo{
	height: 150px;
	width: 150px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;

}
/* div menu */
div#cmnu{
	align-items: center;
	background-color: red;
	height: 30px;
	width: 85px;
	margin: 70px 0px 0px 0px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin-left: 10px;
}


div#cmnu:hover{
	background-color: #0d9900;
}

a#cmnu{
	font-family: helvetica;
	font-size: 24px;
	color: black;
	font-weight: bolder;
}

a#cmnu:hover{
	color: #e6e6e6;
}

div#icm{
	margin-left: 120px;
	margin-top: 60px;
}


img#icm{
	height: 50px;
	width: 50px;
}

/* div galeria */
div#cgal{
	align-items: center;
	background-color: red;
	height: 30px;
	width: 120px;
	margin: 70px 0px 0px 100px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin-left: 10px;
}


div#cgal:hover{
	background-color: #0d9900;
}

a#cgal{
	font-family: helvetica;
	font-size: 24px;
	color: black;
	font-weight: bolder;
}

a#cgal:hover{
	color: #e6e6e6;
}

div#gal{
	margin-left: 130px;
	margin-top: 60px;
}


img#gal{
	height: 50px;
	width: 50px;
}
/* div promociones */
div#cprom{
	align-items: center;
	background-color: red;
	height: 30px;
	width: 195px;
	margin: 70px 0px 0px 100px;
	border-radius: 91px 91px 91px 91px;
	-moz-border-radius: 91px 91px 91px 91px;
	-webkit-border-radius: 91px 91px 91px 91px;
	border: 0px solid #000000;
	margin-left: 5px
}


div#cprom:hover{
	background-color: #0d9900;
}

a#cprom{
	font-family: helvetica;
	font-size: 24px;
	color: black;
	font-weight: bolder;
}

a#cprom:hover{
	color: #e6e6e6;
}

div#prom{
	margin-left: 120px;
	margin-top: 60px;
}


img#prom{
	height: 50px;
	width: 50px;
}

/* div promociones */

div#sbr{
	align-items: center;
	background-color: red;
	height: 100px;
	width: 100px;
	margin: 40px 0px 0px 0px;
	border-radius: 96px 96px 200px 200px;
	-moz-border-radius: 96px 96px 200px 200px;
	-webkit-border-radius: 96px 96px 200px 200px;
	border: 0px solid #000000;
	margin-left: 90px;
	background: rgba(12,250,0,1);
	background: -moz-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,250,0,1)), color-stop(15%, rgba(87,239,140,1)), color-stop(41%, rgba(250,250,250,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(84%, rgba(240,46,20,1)), color-stop(100%, rgba(231,51,35,1)));
	background: -webkit-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -o-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: linear-gradient(to right, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cfa00', endColorstr='#e73323', GradientType=1 );

}

div#sbr:hover{
	background-color: #0d9900;
	height: 110px;
	width: 110px;
}

p#sbr{
	font-family: helvetica;
	font-size: 17px;
	color: #705c45;
	font-weight: bolder;
}

p#sbr:hover{
	font-family: helvetica;
	font-size: 20px;
	color: #705c45;
	font-weight: bolder;
}
/* termina encabezado */


/* div tit mn*/
div#platillos{
	height: 80px;
	width: 1300px;
	background: -moz-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(12,250,0,1)), color-stop(15%, rgba(87,239,140,1)), color-stop(41%, rgba(250,250,250,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(84%, rgba(240,46,20,1)), color-stop(100%, rgba(231,51,35,1)));
	background: -webkit-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -o-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: -ms-linear-gradient(left, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	background: linear-gradient(to right, rgba(12,250,0,1) 0%, rgba(87,239,140,1) 15%, rgba(250,250,250,1) 41%, rgba(255,255,255,1) 60%, rgba(240,46,20,1) 84%, rgba(231,51,35,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cfa00', endColorstr='#e73323', GradientType=1 );
	display: flex;
	margin-top: -25px;
}


div#plat{
	margin: auto;
	align-items: center;
}

p#plat{
	margin-top: 15px;
	font-family: helvetica;
	font-size: 45px;
	word-spacing: 2px;
	color: #ff6f00;
	align-self: center;
	font-weight: bolder;
}


p#plat:hover{
	margin-top: 10px;
	font-family: helvetica;
	font-size: 54px;
	color: #ff6f00;
	align-self: center;
	font-weight: bolder;

}


/*Bloque MENU*/
div#bmn{
	height: 1251px;
	width: 1100px;
	margin: auto;
	display: block;
}


/*Bloque platillos principales*/
div#pp{
	height: 60px;
	width: 666px;
	display: block;

}

p#pp1{
	font-size: 30px;
	margin-top: 10px;
	font-family: helvetica;
	color: white;
	font-weight: bolder;
}

hr#pp{
	margin-top: -14px;
}

/*FIn bloque platillos principales*/

/*Primer platillo principal*/
div#pt1{
	height: 200px;
	width: 333px;
	background-color: yellow;
	display: block;
}

div#tcs{
	height: 30px;
	background-color: grey;
	display: flex;

}

p#tcs{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin Primer platillo principal*/


/*segund platillo principal*/
div#pt2{
	height: 200px;
	width: 333px;
	background-color: orange;
	display: block;
}

div#gdt{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#gdt{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin segundo platillo principal*/

/*terc platillo principal*/
div#pt3{
	height: 200px;
	width: 333px;
	background-color: red;
}

div#pzl{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#pzl{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin terc platillo principal*/


/*cuarto platillo principal*/
div#pt4{
	height: 200px;
	width: 333px;
	background-color: green;
}

div#pct{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#pct{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin cuarto platillo principal*/


/*linea horizontal seccion*/
hr#d1{
	transform: rotate(90deg);
	margin-top: -415px;
	margin-left: -77px;

}



/*quinto platillo principal*/
div#pt5{
	height: 200px;
	width: 333px;
	background-color: green;
	margin-left: 333px;
	margin-top: -419px;
}

div#sps{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#sps{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}
/*Fin quinto platillo principal*/


/*sexto platillo principal*/
div#pt6{
	height: 200px;
	width: 333px;
	background-color: lightblue;
	margin-left: 333px;

}

div#qsd{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#qsd{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin sexto platillo principal*/



/*septimo platillo principal*/
div#pt7{
	height: 200px;
	width: 333px;
	background-color: lightgreen;
	margin-left: 333px;

}

/*Fin septimo platillo principal*/


/*octavo platillo principal*/
div#pt8{
	height: 200px;
	width: 333px;
	background-color: lightyellow;
	margin-left: 333px;

}

div#brr{
	height: 30px;
	background-color: grey;
	display: flex;
	margin-top: -10px;

}

p#brr{
	margin: auto;
	font-family: sans-serif;
	color: white;
	font-weight: bolder;
	font-size: 23px;
}

/*Fin octavo platillo principal*/


hr#d2{
	transform: rotate(90deg);
	margin-top: -414px;
	margin-left: 255px;

}

/*FIn  platillos principales*/



/*Paquetes*/

div#tpq{
	height: 60px;
	width: 432px;
	margin-left: 669px;
	margin-top: -482px;
}

/*Paquete1*/
div#pqt1{
	height: 278px;
	width: 432px;
	background-color: yellow;
	margin-left: 669px;

}

div#pp2{
	height: 35px;
	background-color: #00a819;
	display: flex;

}

p#pp2{
	font-size: 26px;
	font-weight: bold;
	margin: auto;
	font-family: sans-serif;
	color: white;	
}



/*Fin paquete 1*/


/*Paquete2*/
div#pqt2{
	height: 278px;
	width: 432px;
	background-color: violet;
	margin-left: 669px;
}
div#pp3{
	height: 35px;
	background-color: white;
	display: flex;
}

p#pp3{
	font-size: 26px;
	font-weight: bolder;
	margin: auto;
	font-family: sans-serif;
	color: black;	

}

img#pqt2{
	width: 432px;
	height: 233px;
}
/*Fin paquete 1*/


/*Paquete3*/
div#pqt3{
	height: 278px;
	width: 432px;
	background-color: brown;
	margin-left: 669px;
}

div#pp4{
	height: 35px;
	background-color: red;
	margin-top:-10px;
	display: flex;
}

p#pp4{
	font-size: 26px;
	font-weight: bolder;
	margin: auto;
	font-family: sans-serif;
	color: white;	
}
/*Fin paquete 3*/

/*FIN PAQUETES*/


/*POSTRES*/
div#pst{
	margin-top: 5px;
	width: 548px;
	height: 362px;
	background-color: red;
}

div#psts{
	height: 50px;
	background-color: grey;
	display: flex;
}

p#psts{
	font-size:34px;
	margin: auto;
	font-family: helvetica;
	color: white;	
	font-weight: bolder;
}


/*FIN POSTRES*/




/*BEBIDAS*/
div#beb{
	margin-top: -362px;
	width: 547px;
	height: 362px;
	background-color: red;
	margin-left: 554px;
}

div#bebs{
	height: 50px;
	background-color: grey;
	display: flex;
}

p#bebs{
	font-size: 34px;
	margin: auto;
	font-family: helvetica;
	color: white;	
	font-weight: bolder;
}
/*FIN BEBIDAS*/



/*Comienza pie de página*/
div#pdp{
	margin-top: 40px;
	height: 178px;
	width: 1300px;
	background-color: white;
	align-items: auto;
	display: flex;
}

/*BLOQUE DATOS*/

div#datos{
	margin-left: 60px;
	margin-top: 10px;
}

p#uni{
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
	color: grey;

}
p#mat{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: grey;
}
p#nom{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: grey;
}
/*TERMINA BLOQUE DATOS*/


/*BLOQUE DATOS*/

div#datos{
	margin-left: 60px;
	margin-top: 10px;
}

p#uni{
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;
	font-weight: bold;
	color: grey;

}
p#mat{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: grey;
}
p#nom{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: grey;
}
/*TERMINA BLOQUE DATOS*/

div#direccion{
	height: 100px;
	width: 270px;
	margin-left: 130px;
	margin-top: 10px;

}


/*Div Contacto*/

div#contacto{
	width: 250px;
	align-items: center;
	font-weight: bold;
	margin-left: auto;
	margin-right: 70px;

}
p#con{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

div#tel{
	display: block;
	align-items: center;
	height: 120px;
}


/*Div Contacto*/
p#cont{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: -30px;
	margin-left: 80px;
	color: grey;
}
img#tel{
	margin-left: 30px;
	height: 30px;
	width: 30px;
}


/*Div Contacto*/


p#fb{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: -30px;
	margin-left: 80px;
	color: grey;
}
img#fb{
	margin-top: -20px;
	height: 30px;
	width: 30px;
	margin-left: 30px;
}
/*Div Contacto*/
p#mail{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: -30px;
	margin-left: 80px;
	color: grey;

} 
/*Div Contacto*/
img#mail{
	margin-left: 80px;
	height: 30px;
	width: 30px;

}
/*Termina contacto*/

/*TERMINA PIE DE PAGINA*/